.section.featured-materials {
    padding-bottom: 50px;
}


.br-container.container-1440 {
    width: 1440px;
}
.br-container {
    margin: 0 auto;
    width: 1550px;
    max-width: 100%;
    padding: 0 20px;
}


h2 {
    font-family: "reforesta";
    display: block;
    position: relative;
    margin: 0;
    letter-spacing: 0;
    color: #0a282b;
    font-weight: 500;
    font-size: 48px;
    line-height: 54px;
    padding-bottom: 12px;
}

.offset-0 {
    margin-top: 0px !important;
}
p {
    margin: 13px 0 0 0px;
    line-height: 20px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
}